/* ============================================ preparation du projet =================================================================== */ 
body{
    padding: 0;
    margin: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

/* ======== variables */
:root{
    --color-grey-clr : #303030;
    --color-grey-fnc : #2b2b2b;
    --color-grey-service : #333333;
    --color-green-hover : #76c38f;
    --main-bg-color : #670000;
    --color-border-footer : #3a3a3a;
    --color-black : #000000;
    --color-white : #ffffff;
    --color-bg-form : #222222;
    --color-green-moche: #81CA9A;
    --color-gray: #363636;
}

/* ============== MaZ des marges et padding */
ul, h1, h3, h4, div {
    margin: 0;
    padding: 0;
}
main p {
    margin: 0;
}

/* ========================= grilles */
.container-large{
    width: 100%;
}

.container{
    width: 960px;
    /* height: 100%; */
    margin: auto;
}

.row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.col{
    display: flex;
    flex-direction: column;
}

.row4 {
    width: 23.45%;;
}

/* ========================= grilles de polices ======== */

.t10 {
    font-size: 10px;
}

.t12 {
    font-size: 12px;
}

.t13 {
    font-size: 13px;
}

.t14 {
    font-size: 14px;
}

.vert{
    color: var(--color-green-hover);
}

.opa30 {
    opacity: 30%;
}

.opa50 {
    opacity: 50%;
}

.line18{
line-height: 18px;
}

.line22 {
    line-height: 22px;
}


/* ========================= footer ============================================================*/
.container-large-footer{
    height: 450px;
    color: var(--color-white);
}

/* ============================= première partie du footer ==================== */
.container-large-footer-1{
    height: 387px;
    background: var(--color-grey-clr);
    border-bottom: var(--color-black) solid 1px ;
}
.container-footer {
    height: 80%;
}

footer h3{
    font-size: 16px;
    font-weight: normal;
    color: var(--color-white);
    margin-bottom: 30px;
}


.container-footer a, .container-footer a:visited {
    text-decoration: none;
    color: var(--color-green-hover);
    font-weight: lighter;    
    opacity: 100%;
}

footer li{
    padding: 8px 0px;
    border-bottom: 1px solid #ffffff36;
    list-style-image : url(images/puce.png);
    list-style-position: inside;
}

footer .row4 {
    height: 80%;
    margin: auto 0;
}

.petitForm{
    height: 35px;
    width: 195px;
    background: var(--color-bg-form);
    border-radius: 10px/10px;
    border: none;
    margin-bottom: 10px;
    padding: 0 15px;
    color: var(--color-white);
}
 
.grandForm{
    height: 60px;
    width: 195px;
    background: var(--color-bg-form);
    border-radius: 10px/10px;
    border: none;
    margin-bottom: 10px;
    color: var(--color-white);
    padding: 10px 15px;
    resize: none;
}


.button-contact{
    border-radius: 10px/10px;
    background: var(--color-green-hover);
    color: var(--color-bg-form);
    border: none;
    height: 35px;
    width: 75px;
    font-weight: bold;
}

/* ============================= deuxieme partie du footer ==================== */
.container-large-footer-2{
    height: 61px;
    background-color: var(--color-grey-fnc);
    border-top: var(--color-border-footer) solid 1px;
}

.row-footer{
    justify-content: space-between;
    align-items: center;
}

.container-height {
    height: 970px;
    display: flex;
}
.content {
    height: 850px;
    margin-top: auto;
    margin-bottom: auto;
}
/* COLOR */
.main-color {
    background-color: var(--main-bg-color);
}
.col-bg-color {
    background-color: var(--color-white);
}

.col-width {
    width: 225px;
    height: 305px;
    text-align: center;
}
.col p img {
    padding-top: 20px;
}

/* STYLE SERVICES */
.h2-style-col {
    font-weight: normal;
    font-size: 32px;
    text-transform: uppercase;
    margin-top: 5px;
}
.p-style-col {
    font-weight: normal;
    font-size: 12px;
    margin-top: -25px;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    color: #A1A1A1;
}
a {
    text-decoration: none;
    color: black;
    transition: all .5s;
}
/* HOVER COL SERVICE */
a:hover div {
    color: white;
    background-color: var(--color-green-moche);

}
a:hover .p-style-col {
    color: white;
}
.trans:hover {
    transform: translateY(-5px);
    box-shadow: 0 5px 5px #A1A1A1;
}

/* SECTION LATEST WORK */ 
.h2-style-work {
    text-align: center;
    color: var(--color-white);
    text-transform: uppercase;
    font-weight: normal;
    margin-top: 40px;
}
.bg-and-border {
    background-color: var(--color-gray);
    padding: 5px 14px;
    border-radius: 9px;
}
/* BORDER TITLE H2 */
.h2-style-work {
    position: relative;
}
.bg-and-border::before {
    content: '';
    position: absolute;
    background-color: var(--color-gray);
    top: 50%;
    right: 100%;
    height: 3px;
    width: 192%;
}
.bg-and-border::after {
    content: '';
    position: absolute;
    background-color: var(--color-gray);
    top: 50%;
    left: 100%;
    height: 3px;
    width: 192%;
}

/* IMAGES */
.border {
    border: 5px solid var(--color-white);
}
.pos-relative {
    position: relative;
    width: 290px;
    height: 190px;
}
.text-over-img {
    font-size: 14px;
    font-weight: 100;
    position: absolute;
    top: 153.5px ;
    left: 0px;
    background-color: rgba(0, 0, 0, 0.591);
    width: 100%;
    text-align: center;
    padding: 10px 0;
    text-transform: uppercase;
    color: var(--color-white);
}

.margin-t {
    margin-top: 40px;
}
/* HOVER ON IMG LATEST WORK */
a:hover .border {
    border: 5px solid var(--color-green-moche);
}
a:hover .text-over-img {
    display: none;
}
.trans2:hover {
    transform: translateY(-5px) ;
    box-shadow: 0px 7px 7px #A1A1A1;
}

.center-title {
    justify-content: center;
}
.row-space-between {
    height: 430px;
    align-content: space-between;
    margin-top: 20px;
}

/* MEDIA QUERIES */
@media (max-width: 992px) {
    .container {
        width: 770px;
    }
    main {
        height: auto;
    }
    .mt {
        width: 770px;
        margin-top: 40px;
        }
    .bg-and-border::before {
        content: '';
        position: absolute;
        background-color: var(--color-gray);
        top: 50%;
        right: 100%;
        height: 3px;
        width: 144%;
    }
    .bg-and-border::after {
        content: '';
        position: absolute;
        background-color: var(--color-gray);
        top: 50%;
        left: 100%;
        height: 3px;
        width: 144%;
    }
}