/* CONTAINER width = 960PX */ 
body{
    padding: 0;
    margin: 0;
}

:root{
    --color-grey-clr : #303030;
    --color-grey-fnc : #2b2b2b;
    --color-grey-service : #333333;
    --color-green-hover : #76c38f;
    --color-fond-bordeau : #660000;
    --color-border-footer : #3a3a3a;
    --color-black : #000000;
}

p, ul, h1, h2, h3, div, li {
    margin: 0;
    padding: 0;
}

.container-large{
    width: 100%;
}

.container-large-footer{
    height: 450px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.container-large-footer-1{
    height: 387px;
    background: var(--color-grey-clr);
    border-bottom: var(--color-black) solid 1px ;
}


.container-large-footer-2{
    height: 61px;
    background-color: var(--color-grey-fnc);
    border-top: var(--color-border-footer) solid 1px;
}